
.banner-top-sale{
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 21px;
    font-weight: 550;
    color: azure;
    background-color: rgb(255, 180, 89);
}

.name-banner{
    width: max-content;
    margin-left: 1%;
}

.banner-top-sale a{
    color: rgb(255, 28, 28);
}


.product-container{
    display: flex;
    margin-top: 30px;
}
.product{
    width: 250px;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin-left: 5%;
    padding: 0;
}

.product a{
    text-decoration: none;
    color: rgb(255, 140, 0);
    font-weight: 550;
}

.product:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    zoom: 102%;
}


.product-info{
    max-width: max-content;
}

.product-info ol li{
    list-style-type: none;
}
.product a img{
    width: 210px;
    height: 150px;
    margin-top: 20px;
    margin-left: 20px;
}

.name-of-product{
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.space{
    width: 350px;
    height: 300px;
}