body {
    margin: 0;
    padding: 0;
}

.normal-wrapper {
    width: 100%;
    background-color: cadetblue;
    overflow: auto;
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 15px 40px;
}