body {
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    border-bottom: 1px solid black ;
}

.normal-wrapper {
    width: 100%;
    background-color: cadetblue;
    overflow: auto;
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 15px 40px;
}

.searching-bar{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1 1 0%;
    height: 30px;
    margin-left: 50px;
}

.FormSearch__Button{
    cursor: pointer;
    display: flex;
    border: 0px;
    border-radius: 0 10px 10px 0;
    width: 100px;
    /* height: 30px; */
    background-color: rgb(78, 133, 235);
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: white;
    font-weight: 600;
    outline: none;

}
.icon-search{
    height: 1.5rem;
}
.FormSearch{
    border: 0px;
    border-radius: 10px 0px 0px 10px;
    font-size: 13px;
    padding: 0 12px;
    flex: 1 1 0%;
    outline: none;
}

.management{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: cadetblue;
    position: relative;
    
}

.user-icon{
     height: 2rem;
     margin-right: 200px;
 }

.cart-icon{
    height: 2rem;
    margin-right: 30px;
}

.logo{
    background-color: cadetblue;
    position: relative;
}
.logo img{
    height: 60px;
    width: 80px;
    margin-top: 5px ;
    margin-left: 150px;
}
 
